*{
    font-family: 'Ubuntu', 'Rubik';
}

/*opacity change*/
.opacity-change-image{
    transition: 0.5s;
    height: 20em;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.opacity-change .opacity-change-image:hover{
opacity: 0.7;
}

/*zoom in*/
.zoom-in-img{
    height: 20em;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    overflow: hidden;
}

.zoom-in .zoom-in-img:hover{
    transform: scale(1.1);
}

/*grayscale to color*/
.color{
    height: 20em;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.grayScale .color:hover{
    filter: grayscale(0%);
}

/*slide up caption*/
.caption-img{
    height: 20em;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.caption .caption-word{
    bottom: -100%;
}

.caption:hover .caption-word{
    bottom: 0;
}